/* body{
  overflow-x: hidden;
} */
.space{
  width: 100%;
  height: 70px;
  background-color: #f7f3f3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-top: -70px;
}
.sub-logo{
  display: flex;
  justify-content: center;
  padding: 50px;
}
.sub-nav{
  margin-bottom: 50px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-nav ul{
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  column-gap: 20px;

}
.main-converse{
  display: flex;
}

.sub-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  position: relative;
  background: #fff;
  width: 100%;
  z-index: 100;
}
.sub-nav ul li:hover{
  color: #bebbbb;
  cursor: pointer;
}
.background-image{
  margin-left: 20px;
  margin-right: 20px;
}
.sub-part1{
  margin-top: 70px;
}
.sub-part2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  row-gap: 20px;
}
.sub-part2 h1{
  font-size: 40px;
  line-height: 1;
}
.sub-part2 p{
  font-weight: 700;
  line-height: 1.5;
}
.sub-part3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  padding-bottom: 50px;
}
.sub-part3 h1{
  margin-bottom: 20px;
}
.sub-part3 h5{
  font-size: 25px;
}
.sub-part3-images{
  display: flex;
  column-gap: 20px;
  overflow: hidden;
}
.sub-part3-images:hover{
  overflow-x: scroll;

}
.sub-part3-images0{
  display: flex;
  column-gap: 20px;
  justify-content: center;
}
.sub-part4{
  display: flex;
  flex: column;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;

}
.sub-part4 img{
  width: 400px;
  height: 300px;
}


.sub-image-content h5{
    font-size: 16px;
}

.sub-image-content h6{
  font-size: 16px;
  color: #bebbbb;
}

.sub-image-content p{
  font-size: 16px;
  font-weight: 700;
}
.sub-part3-images1{
  position: relative;
}
.sub-part5 .sub-image-content{
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.sub-part5{
  margin-bottom: 50px;
}

.one{
  background-color: #fff;
  color: #000;
  width: 100px;
  font-weight: 600;

}
.first{
  color: #fff;
}
.part6 h1{
   font-size: 20px;
   font-weight: 600;
}
.converse{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.right1{
  display: flex;
  column-gap: 20px;
}
.right1 p{
  font-size: 20px;
  font-weight: 600;

}
.dropdown{
  display: flex;
  flex-direction: column;
  position: relative;
}
.dropdown button{
  background: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  display: flex;
}
.dropdown-content{
  display: none;
  
  
}
.show{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 500;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 30px;

}
.sticky1{
  position: fixed;
  top: 0;
}
.sticky1 + .converse{
  padding-top: 70px;
}
main{
  padding-top: 70px;
}


@media screen and (max-width: 800px) {
  /* .sub-image-content h5{
    font-size: 12px;
  }

  .sub-image-content button{
     font-size: 13px;
  }
  .sub-part5 .sub-image-content{
    position: absolute;
    bottom: -30px;
    left: 10px;
  } */

  #part5-images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    
  
  }
  
}




