.nav-bar{
  display: flex;
  column-gap: 10px;
  font-size: 20px;
}
.nav-bar a{
  text-decoration: none;
  color: #6e6e6e;
}
button{
  border: none;
  background: transparent;
  font-size: 20px;
  color: #6e6e6e;
}
.dropdown-content{
  display: none;

}
.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
}
